*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background: rgb(21,234,202);
    background: linear-gradient(90deg, rgba(21,234,202,1) 30%, rgba(245,245,245,1) 75%);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: "Oswald", sans-serif;
}
.pokeContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
}
h2{
    color: white;
}
.poke-block,
.pokemon-block-back {
  border-radius: 10px;
  padding: 10px;
  background-color: white;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
}

.name {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.2rem;
}
